// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#canvas {
  cursor: pointer;
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.panel {
  position: fixed;
  height:  25vmin;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  .products {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100vw;
    .product {
      display: inline-block;
      vertical-align: top;
      padding: 1vmin;
      width: 40vmin;
      height: 23vmin;
      overflow: hidden;
      .name {
        font-weight: 600;
        height: 4vmin;
        width: 14vmin;
        padding: 0 1vmin;
        font-size: 0.6em;
      }
      .image {
        height: 14vmin;
        width: 14vmin;
        padding: 1vmin;
        a {
          display: block;
          width: 11vmin;
          height: 11vmin;
          -webkit-border-radius: 0.5vmin;
          -moz-border-radius: 0.5vmin;
          border-radius: 0.5vmin;
          border: 1vmin solid #FFC169;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }
      .left, .right {
        display: inline-block;
      }
      .left {
        width: 16vmin;
      }
      .right {
        width: 24vmin;
        .price {
          .fill {
            background-color: #B2F92B;
          }
        }
        .lifetime_savings {
          .fill {
            background-color: #7CBD00;
          }
        }
        .co2_savings {
          .fill {
            background-color: #AE30E4;
          }
        }
        .energy_cost {
          .fill {
            background-color: #FFC169;
          }
        }
        .price, .lifetime_savings, .co2_savings, .energy_cost {
          height: 4vmin;
          font-size: 0.6em;
          padding: 0.25vmin 0;
          vertical-align: middle;
          .info {
            -webkit-border-radius: 0.5vmin;
            -moz-border-radius: 0.5vmin;
            border-radius: 0.5vmin;
            border: none;
            overflow: hidden;
            position: relative;
            vertical-align: middle;
            height: 3.5vmin;
            width: 3.5vmin;
            padding: 0.25vmin;
            display: inline-block;
            border: 1px solid white;
            i {
              color: white;
              text-align: center;
              width: 100%;
              line-height: 3.5vmin;
            }
            .fill {
              z-index: -1;
              position: absolute;
              bottom: 0;
              left: -50%;
              width: 200%;
            }
          }
          .count {
            vertical-align: middle;
            display: inline-block;
            margin-left: 1em;
          }
        }
      }
    }
  }
}

.controlls {
  position: fixed;
  height: 10vmin;
  width: 100vw;
  bottom: 25vmin;
  background-color: rgba(0, 0, 0, 0.4);
  .slider_wrap {
    float: left;
    width: 46vw;
    padding: 0 2vw;
    .kalvin_display, .luminosity_display {
      .left, .display, .right {
        display: inline-block;
        width: 33%;
      }
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
      }
      .display {
        text-align: center;
        strong {
          color: #FFA82C;
        }
      }
    }
    #kalvin, #luminosity {
      width: 100%;
      font-size: 0.5em;
    }
    .kalvin_display, .luminosity_display {
      margin: 0.5em 0;
      font-size: 0.7em;
    }
  }
}